header {
  background: #5B190A;
  color: white;
  font-size: large;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  position: relative;
  width: 100%;
}
.logo{
  object-fit: cover;
  height: 5%;
  width: 5%;
  margin-right: 5px;
}
.header-texto{
  color: white;
  font-size: xx-large;
  font-weight: bold;
}