body {
  background-color: #a8c3d4;
}

.h3 {
  text-align: center;
  margin-top: 35px;
  color: #333a43;
  font-size: 30px;
}

.caixaEvento {
  background-color: #6f809b;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 950px;
  margin: 60px auto;
  font-size: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
