.botaoPrincipal {
  width: 160px;
  height: 60px;
  margin-bottom: 20px;
  margin: 0;
  display: flex;
  padding: 10px 16px;
  background-color: #d5c88e;
  color: #212a34;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.botaoPrincipal:hover {
  background-color: #b4a873;
}

.botoesEvento {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.linhaInfo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 7;
}

.linhaInfo.modo-Edicao {
  width: 100%;
  justify-content: space-between;
}

.linhaInfo.modo-Edicao .iconeEditar {
  margin-left: auto;
}

.iconeEditar {
  margin-left: 350px;
  margin-bottom: 15px;
  width: 30px;
  height: 30px;
  background-color: #d5c88e;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.iconeEditar:hover {
  background-color: #beb27f;
}
