header {
  background-color: #154c79;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  align-items: center;
  height: 10vh;
  text-shadow: 2px 1.5px #3d629e;
}

header h1 {
  color: #ffffff;
  font-size: 30px;
}
